.list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-alignment: center;
}

.list-cell:focused {
	-fx-background-color: transparent;
	-fx-text-fill: deepskyblue;
	-fx-alignment: center;
}

.button {
	-fx-text-fill: black;
	-fx-opacity: 1.0;
}

.button:disabled {
	-fx-background-color: lightgrey;
	-fx-text-fill: grey;
	-fx-opacity: 0.8;
}

.list-view {
	-fx-background-color: transparent;
}